td, th {
    border: 3px solid rgb(250,232,112);
    background: rgb(182,54,54,0.9);
}

body, html {
    height: 99.15%;
    margin:0;
    background-image: url("./assets/WvuzuOr-lord-of-the-rings-wallpaper-hd.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    background: darkred;
    border: 1px solid white;
    padding: 5px 3px;
    color: white;
    width: 100%;
    margin: 5px auto;
    font-family: 'Berkshire Swash', cursive;
}

button:hover {
    background: rgb(92,5,5);
}

#title {
    text-align: center;
    font-size: 50px;
    margin: 20px;
    color: rgb(250,232,112);
    letter-spacing: 0.1em;
    font-family: 'Bilbo Swash Caps', cursive;
}

#start {
    margin: 0 auto;
    font-size: large;
    background-color: rgb(182,54,54); 
    padding: 11px 28px;
    text-align-last: center;
    color: rgb(250,232,112);
    border-radius: 15px;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 0.1em;
    font-weight: bold;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-style: none;
    border: 2px solid rgb(250,232,112);
    transition-duration: 0.4s;
    width: 15%;
}

#start:hover {
    background-color: darkred;
}

#introduction {
    width: 35%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px double rgb(250,232,112);
    background-color: rgb(182,54,54,0.5);
}

#intro-text {
    padding: 10px;
    text-align: center;
    font-family: 'Bilbo Swash Caps', cursive;
    font-weight: bold;
    letter-spacing: 0.08em;
    font-size: x-large;
    color: whitesmoke;
}

#quiz-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    border: 2px solid white;
    text-align: center;
    padding: 15px 10px 10px 10px;
    background-color: rgb(182,54,54,0.5);
    border: 10px double rgb(250,232,112);
    color: whitesmoke;
    font-family: 'Berkshire Swash', cursive;
}

#results {
    margin-left: auto;
    margin-right: auto;
    margin-top: 43%;
    border: 2px solid white;
    width: 30%;
    padding: 5px 10px;
    background-color: rgb(182,54,54,0.5);
    border: 9px double rgb(250,232,112);
    color: whitesmoke;
    font-family: 'Berkshire Swash', cursive;
}

#timer {
    text-align: center;
    margin-top: 10px;
    font-family: 'Bilbo Swash Caps', cursive;
    color: rgb(250,232,112);
    font-weight: bolder;
    font-size: xx-large;
    margin-top: 15%;
}

h2 {
    color: rgb(250,232,112);
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}

h3 {
    text-align: center;
    background: rgb(182,54,54,0.9);
    margin: 0 auto;
    width: 50%;
    font-family: 'Kaushan Script', cursive;
    color: whitesmoke;
    padding: 15px;
    border: 5px ridge rgb(250,232,112);
}

h4 {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    letter-spacing: 0.5em;
    font-size: larger;
    color: whitesmoke;
}

#form-container {
    width: 280px;
    margin: 0 auto;
}

form {
    display: inline-block;
}

#name-submit {
    width: 75px;
    border: 2px solid white;
    padding: 0;
    margin: 0;
    font-size: medium;
}

#name-submit:hover {
    background: rgb(92,5,5);
}

input {
    font-size: medium;
}

::placeholder {
    font-family: 'Berkshire Swash', cursive;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 40%;
    font-family: 'Berkshire Swash', cursive;
    color: white;
    font-size: x-large;
    border: 10px ridge rgb(250,232,112);
}

.heading {
    text-shadow: 0 0 10px black;
}